<div>
  <h1 style="margin-left: 110px;"> Dashboard</h1>
  <p style= "margin-left: 110px;"class="para">There are different tabs in the Dashboard that allow view of the projects create in the iManage system ,By default the system shows all the users <br/>created by the logged in user in the "Owned By Me" tab.
  </p>

<div class="container">

    <ul class="nav" style="margin-bottom: 3%;">
        <li class="nav-item">
          <a class="nav-link active" style="background-color:#2370cf;color:white;border-radius: 2px;" aria-current="page" href="#">Owned By Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Assigned To Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All planned projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Executed Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All implemented Projects</a>
        </li>
        
        
      </ul>
     
    
      <div style="display:flex;margin-bottom:1%">        
        <input class="search form-control" type="text" name="Name" [(ngModel)]="search"   placeholder="Search.."/>
        <button style="margin-left: 60%;margin-right: 1%;">Column visibility</button>
        <!-- <input type="button" value="Export PDF" class="btn btn-success" (click)="SavePDF()"> -->
        <button> <span class="material-icons" style="font-size: 14px;margin-left: 1%;">
          delete
          </span></button>
          <button> <span class="material-icons" style="font-size: 14px;margin-right: 1%;">
            import_export
            </span></button>
          <button> <span class="material-icons" style="font-size: 14px;margin-right: 1%;">
            open_in_new
            </span></button>
            
          
      
      </div>

<div style ="width:1140px;overflow-x:scroll;">  
<table class="table table-striped">
   
  <thead>
    <tr class="head">
        <th>SELECT</th>
        <th>ACTION</th>
        <th>PROJECT TYPE</th>
        <th>PROJECT ID</th>
        <th>PROJECT TITLE</th>
        <Th>COMMODITY TYPE</Th>
        <th>PROJECT OWNER</th>
        <th>BUSINESS</th>
        

   </tr>
   </thead>
  
   <tbody>
        <tr *ngFor="let data of obj | filter:search |paginate: {itemsPerPage: 10 , currentPage: page};let i = index">
         <td><input type="checkbox" id="scales" name="scales"
          ></td>

         <td>
           <span class="material-icons" style="font-size: 14px;">
          content_copy
          </span>
          <span class="material-icons"  style="font-size: 14px;">
            redo
            </span>
            <span class="material-icons" style="font-size: 14px;">
              delete
              </span>
        </td>   
        <td>{{data.projectType}}</td>  
        <td>{{data.projectID}}</td>  
        <td>{{data.projectTitle}}</td>  
        <td>{{data.commodityType}}</td>  
        <td>{{data.projectOwner}}</td>  
        <td>{{data.Business}}</td>       
     
        </tr> 
    

   </tbody>
   
</table>
</div>
<pagination-controls (pageChange)="page = $event" >
</pagination-controls>
</div>
</div>